{% macro displayNewsList(news_list) %}

{%for news in news_list%}
<div class="row">
        <div class="col-md-4">
<li>
        {{news.title}}
        <img src="{{news.urlToImage}}" class="img-responsive" alt="">
        {{news.description}}
        <a href="{{news.url}}">More...</a>
</li>



       <!-- Card -->
<div class="card testimonial-card">

                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>
              
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">
                </div>
              
                <!-- Content -->
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!-- Quotation -->
                  <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>
              
              </div>
              <!-- Card -->

</div>

</div>



{%endfor%}


{% endmacro %}